[submodule "app/src/main/jni/daisykitsdk"]
	path = app/src/main/jni/daisykitsdk
	url = git@github.com:open-daisylab/daisykit.git
[submodule "app/src/main/assets"]
	path = app/src/main/assets
	url = git@github.com:open-daisylab/daisykit-assets.git
