/app/build
/app/.cxx
/.idea
/.gradle
/app/src/main/jni/third_party/ncnn-*-android-*
/app/src/main/jni/third_party/opencv-mobile-*
/.vscode
/local.properties
/app/src/main/assets/*
!/app/src/main/assets/.gitkeep